video {
  background: black;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 1;
}

track {
  display: none;
}

.controls {
  position: fixed;
  z-index: 1000;
}

.subtitle {
  bottom: 10px;
  color: white;
  font-size: 35px;
  position: fixed;
  text-align: center;
  text-shadow:
    -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
  width: 100%;
  z-index: 1000;
}